ul{
  position: absolute;
  bottom: 11px;
  left: 40%;
}
li{
  display: inline-block;
  border: solid 2px gray;
  margin: 2px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor:pointer;
}
h1{
  text-align: center;
}
li:hover{
  background-color:lightgray;

}
body {
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-attachment: fixed;
    background-size:cover;
}
a{
  position: absolute;
  bottom: 20px;
  right: 20px;
}
li.active{
  background-color: red;
}